In [1]:
import pandas as pd

In [8]:
file_path = "../data/raw/african_conflicts.csv"

In [17]:
df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")
#To load the file, I had to modify the pd.read by setting an specific encoding, this is because if not, and 'UnicodeDecodeError' happens due to Pandas was trying to read the file with 
#utf-8  encodiung, but because the file contains special characters that are encoded differntely.

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_58675/67583881.py:1: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")

In [18]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165808 entries, 0 to 165807
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ACTOR1            165808 non-null  object
 1   ACTOR1_ID         140747 non-null  float64
 2   ACTOR2            122255 non-null  object
 3   ACTOR2_ID         140747 non-null  float64
 4   ACTOR_DYAD_ID     140747 non-null  object
 5   ADMIN1            165808 non-null  object
 6   ADMIN2            165676 non-null  object
 7   ADMIN3            86933 non-null   object
 8   ALLY_ACTOR_1      28144 non-null   object
 9   ALLY_ACTOR_2      19651 non-null   object
 10  COUNTRY           165808 non-null  object
 11  EVENT_DATE        165808 non-null  object
 12  EVENT_ID_CNTY     165808 non-null  object
 13  EVENT_ID_NO_CNTY  140747 non-null  float64
 14  EVENT_TYPE        165808 non-null  object
 15  FATALITIES        165808 non-null  int64
 16  GEO_PRECISION     165808 non-null  int64
 17  GWNO              165808 non-null  int64
 18  INTER1            165808 non-null  int64
 19  INTER2            165808 non-null  int64
 20  INTERACTION       165808 non-null  int64
 21  LATITUDE          165808 non-null  object
 22  LOCATION          165805 non-null  object
 23  LONGITUDE         165808 non-null  object
 24  NOTES             155581 non-null  object
 25  SOURCE            165635 non-null  object
 26  TIME_PRECISION    165808 non-null  int64
 27  YEAR              165808 non-null  int64
dtypes: float64(3), int64(8), object(17)
memory usage: 35.4+ MB
None

,ACTOR1,ACTOR1_ID,ACTOR2,ACTOR2_ID,ACTOR_DYAD_ID,ADMIN1,ADMIN2,ADMIN3,ALLY_ACTOR_1,ALLY_ACTOR_2,...,INTER1,INTER2,INTERACTION,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,TIME_PRECISION,YEAR
0,Police Forces of Algeria (1999-),NaN,Civilians (Algeria),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,NaN,Berber Ethnic Group (Algeria),...,1,7,17,36.61954,Beni Douala,4.08282,A Berber student was shot while in police cust...,Associated Press Online,1,2001
1,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Tizi Ouzou,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.71183,Tizi Ouzou,4.04591,Riots were reported in numerous villages in Ka...,Kabylie report,1,2001
2,Protesters (Algeria),NaN,NaN,NaN,NaN,Bejaia,Amizour,NaN,Students (Algeria),NaN,...,6,0,60,36.64022,Amizour,4.90131,Students protested in the Amizour area. At lea...,Crisis Group,1,2001
3,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Bejaia,Amizour,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.64022,Amizour,4.90131,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001
4,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.61954,Beni Douala,4.08282,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001