In [1]:
import pandas as pd

In [2]:
file_path = "../data/raw/african_conflicts.csv"

In [3]:
df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")
#To load the file, I had to modify the pd.read by setting an specific encoding, this is because if not, and 'UnicodeDecodeError' happens due to Pandas was trying to read the file with 
#utf-8  encodiung, but because the file contains special characters that are encoded differntely.

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/67583881.py:1: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")

In [4]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165808 entries, 0 to 165807
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ACTOR1            165808 non-null  object
 1   ACTOR1_ID         140747 non-null  float64
 2   ACTOR2            122255 non-null  object
 3   ACTOR2_ID         140747 non-null  float64
 4   ACTOR_DYAD_ID     140747 non-null  object
 5   ADMIN1            165808 non-null  object
 6   ADMIN2            165676 non-null  object
 7   ADMIN3            86933 non-null   object
 8   ALLY_ACTOR_1      28144 non-null   object
 9   ALLY_ACTOR_2      19651 non-null   object
 10  COUNTRY           165808 non-null  object
 11  EVENT_DATE        165808 non-null  object
 12  EVENT_ID_CNTY     165808 non-null  object
 13  EVENT_ID_NO_CNTY  140747 non-null  float64
 14  EVENT_TYPE        165808 non-null  object
 15  FATALITIES        165808 non-null  int64
 16  GEO_PRECISION     165808 non-null  int64
 17  GWNO              165808 non-null  int64
 18  INTER1            165808 non-null  int64
 19  INTER2            165808 non-null  int64
 20  INTERACTION       165808 non-null  int64
 21  LATITUDE          165808 non-null  object
 22  LOCATION          165805 non-null  object
 23  LONGITUDE         165808 non-null  object
 24  NOTES             155581 non-null  object
 25  SOURCE            165635 non-null  object
 26  TIME_PRECISION    165808 non-null  int64
 27  YEAR              165808 non-null  int64
dtypes: float64(3), int64(8), object(17)
memory usage: 35.4+ MB
None

,ACTOR1,ACTOR1_ID,ACTOR2,ACTOR2_ID,ACTOR_DYAD_ID,ADMIN1,ADMIN2,ADMIN3,ALLY_ACTOR_1,ALLY_ACTOR_2,...,INTER1,INTER2,INTERACTION,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,TIME_PRECISION,YEAR
0,Police Forces of Algeria (1999-),NaN,Civilians (Algeria),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,NaN,Berber Ethnic Group (Algeria),...,1,7,17,36.61954,Beni Douala,4.08282,A Berber student was shot while in police cust...,Associated Press Online,1,2001
1,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Tizi Ouzou,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.71183,Tizi Ouzou,4.04591,Riots were reported in numerous villages in Ka...,Kabylie report,1,2001
2,Protesters (Algeria),NaN,NaN,NaN,NaN,Bejaia,Amizour,NaN,Students (Algeria),NaN,...,6,0,60,36.64022,Amizour,4.90131,Students protested in the Amizour area. At lea...,Crisis Group,1,2001
3,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Bejaia,Amizour,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.64022,Amizour,4.90131,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001
4,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.61954,Beni Douala,4.08282,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001

In [5]:
df.info()  # Check column names, data types, and missing values
df.head()  # Display the first few rows
df.describe()  # Summary statistics for numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165808 entries, 0 to 165807
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ACTOR1            165808 non-null  object
 1   ACTOR1_ID         140747 non-null  float64
 2   ACTOR2            122255 non-null  object
 3   ACTOR2_ID         140747 non-null  float64
 4   ACTOR_DYAD_ID     140747 non-null  object
 5   ADMIN1            165808 non-null  object
 6   ADMIN2            165676 non-null  object
 7   ADMIN3            86933 non-null   object
 8   ALLY_ACTOR_1      28144 non-null   object
 9   ALLY_ACTOR_2      19651 non-null   object
 10  COUNTRY           165808 non-null  object
 11  EVENT_DATE        165808 non-null  object
 12  EVENT_ID_CNTY     165808 non-null  object
 13  EVENT_ID_NO_CNTY  140747 non-null  float64
 14  EVENT_TYPE        165808 non-null  object
 15  FATALITIES        165808 non-null  int64
 16  GEO_PRECISION     165808 non-null  int64
 17  GWNO              165808 non-null  int64
 18  INTER1            165808 non-null  int64
 19  INTER2            165808 non-null  int64
 20  INTERACTION       165808 non-null  int64
 21  LATITUDE          165808 non-null  object
 22  LOCATION          165805 non-null  object
 23  LONGITUDE         165808 non-null  object
 24  NOTES             155581 non-null  object
 25  SOURCE            165635 non-null  object
 26  TIME_PRECISION    165808 non-null  int64
 27  YEAR              165808 non-null  int64
dtypes: float64(3), int64(8), object(17)
memory usage: 35.4+ MB

,ACTOR1_ID,ACTOR2_ID,EVENT_ID_NO_CNTY,FATALITIES,GEO_PRECISION,GWNO,INTER1,INTER2,INTERACTION,TIME_PRECISION,YEAR
count,140747.000000,140747.000000,140747.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000
mean,2587.796692,1211.638820,70374.000000,4.420257,1.261061,538.296964,3.385500,3.193603,32.001604,1.138751,2010.760898
std,1030.065824,1242.978894,40630.303506,76.071441,0.524248,61.974200,2.033114,2.920635,18.284381,0.441038,5.897476
min,1.000000,0.000000,1.000000,0.000000,1.000000,404.000000,1.000000,0.000000,10.000000,1.000000,1997.000000
25%,2081.000000,0.000000,35187.500000,0.000000,1.000000,490.000000,1.000000,0.000000,15.000000,1.000000,2007.000000
50%,3043.000000,675.000000,70374.000000,0.000000,1.000000,520.000000,3.000000,2.000000,28.000000,1.000000,2013.000000
75%,3288.000000,2229.000000,105560.500000,1.000000,1.000000,615.000000,5.000000,7.000000,47.000000,1.000000,2016.000000
max,3960.000000,3960.000000,140747.000000,25000.000000,3.000000,651.000000,8.000000,8.000000,88.000000,3.000000,2017.000000

In [6]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])  # Show only columns with missing values

ACTOR1_ID            25061
ACTOR2               43553
ACTOR2_ID            25061
ACTOR_DYAD_ID        25061
ADMIN2                 132
ADMIN3               78875
ALLY_ACTOR_1        137664
ALLY_ACTOR_2        146157
EVENT_ID_NO_CNTY     25061
LOCATION                 3
NOTES                10227
SOURCE                 173
dtype: int64

In [7]:
#checking column names
print(df.columns)
#this is to check for spaces in the columns

Index(['ACTOR1', 'ACTOR1_ID', 'ACTOR2', 'ACTOR2_ID', 'ACTOR_DYAD_ID', 'ADMIN1',
       'ADMIN2', 'ADMIN3', 'ALLY_ACTOR_1', 'ALLY_ACTOR_2', 'COUNTRY',
       'EVENT_DATE', 'EVENT_ID_CNTY', 'EVENT_ID_NO_CNTY', 'EVENT_TYPE',
       'FATALITIES', 'GEO_PRECISION', 'GWNO', 'INTER1', 'INTER2',
       'INTERACTION', 'LATITUDE', 'LOCATION', 'LONGITUDE', 'NOTES', 'SOURCE',
       'TIME_PRECISION', 'YEAR'],
      dtype='object')

In [8]:
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

In [9]:
#Drop existing values 
df.drop(columns=['ALLY_ACTOR_1', 'ALLY_ACTOR_2', 'ADMIN3'], inplace=True, errors='ignore')
#Use errors='ignore' to prevent the KeyError:

In [10]:
#Making sure column exists before dropping 
columns_to_drop = ['ALLY_ACTOR_1', 'ALLY_ACTOR_2', 'ADMIN3']
existing_columns = [col for col in columns_to_drop if col in df.columns]
df.drop(columns=existing_columns, inplace=True)

In [11]:
print(df.isnull().sum())  # Ensure missing data is handled properly

ACTOR1                  0
ACTOR1_ID           25061
ACTOR2              43553
ACTOR2_ID           25061
ACTOR_DYAD_ID       25061
ADMIN1                  0
ADMIN2                132
COUNTRY                 0
EVENT_DATE              0
EVENT_ID_CNTY           0
EVENT_ID_NO_CNTY    25061
EVENT_TYPE              0
FATALITIES              0
GEO_PRECISION           0
GWNO                    0
INTER1                  0
INTER2                  0
INTERACTION             0
LATITUDE                0
LOCATION                3
LONGITUDE               0
NOTES               10227
SOURCE                173
TIME_PRECISION          0
YEAR                    0
dtype: int64

In [12]:
#Drop EVENT_ID_NO_CNTY, ACTOR1_ID, ACTOR2_ID, and ACTOR_DYAD_ID
df.drop(columns=['EVENT_ID_NO_CNTY', 'ACTOR1_ID', 'ACTOR2_ID', 'ACTOR_DYAD_ID'], inplace=True)

In [13]:
#Fill Missing Values in Categorical Columns
#filling missing values with 'unknowkn' for categorical features where missing values might just mean "not reported."
df['ACTOR2'].fillna('Unknown', inplace=True)
df['ADMIN2'].fillna('Unknown', inplace=True)
df['LOCATION'].fillna('Unknown', inplace=True)
df['SOURCE'].fillna('Unknown', inplace=True)

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/3029073581.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ACTOR2'].fillna('Unknown', inplace=True)
/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/3029073581.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ADMIN2'].fillna('Unknown', inplace=True)
/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/3029073581.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LOCATION'].fillna('Unknown', inplace=True)
/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/3029073581.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SOURCE'].fillna('Unknown', inplace=True)

In [14]:
#Fill Missing Values in NOTES Column
#Since NOTES contains text descriptions of events, a reasonable approach is to replace missing values with "No information available" rather than dropping the column.
df['NOTES'].fillna('No information available', inplace=True)

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/3772339072.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NOTES'].fillna('No information available', inplace=True)

In [15]:
#verifying that all missing values are handled 
print(df.isnull().sum())  # This should now show all zeros!

ACTOR1            0
ACTOR2            0
ADMIN1            0
ADMIN2            0
COUNTRY           0
EVENT_DATE        0
EVENT_ID_CNTY     0
EVENT_TYPE        0
FATALITIES        0
GEO_PRECISION     0
GWNO              0
INTER1            0
INTER2            0
INTERACTION       0
LATITUDE          0
LOCATION          0
LONGITUDE         0
NOTES             0
SOURCE            0
TIME_PRECISION    0
YEAR              0
dtype: int64

In [16]:
df.columns = df.columns.str.lower().str.replace(" ", "_")
#Standarizing column names

In [18]:
df.duplicated().sum()  # Count duplicates
df.drop_duplicates(inplace=True)  # Remove duplicates

In [19]:
#Convert Date Columns to Datetime Format
df["event_date"] = pd.to_datetime(df["event_date"], errors="coerce")

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_76043/2088706453.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["event_date"] = pd.to_datetime(df["event_date"], errors="coerce")

In [20]:
#Basic Exploratory Data Analysis (EDA)
print(df["event_type"].value_counts())  # Count unique event types
print(df["country"].value_counts())  # See event distribution per country

event_type
Riots/Protests                                47224
Violence against civilians                    45021
Battle-No change of territory                 44005
Strategic development                         10923
Remote violence                               10456
Battle-Government regains territory            2632
Non-violent transfer of territory              2566
Battle-Non-state actor overtakes territory     2135
Headquarters or base established                771
Remote Violence                                  30
Violence Against Civilians                       21
Battle-no change of territory                    16
Strategic Development                             7
Strategic development                             1
Name: count, dtype: int64
country
Somalia                         25232
Democratic Republic of Congo    12294
Nigeria                         12253
Sudan                           12018
South Africa                    10887
Egypt                            9290
Burundi                          7396
Libya                            6532
Zimbabwe                         6001
Kenya                            5812
Algeria                          5309
Uganda                           5185
South Sudan                      5144
Ethiopia                         5035
Sierra Leone                     4669
Tunisia                          4493
Central African Republic         3973
Angola                           3181
Ivory Coast                      1804
Mali                             1753
Liberia                          1369
Morocco                          1355
Zambia                           1289
Senegal                          1132
Madagascar                       1064
Burkina Faso                     1032
Cameroon                          937
Guinea                            894
Mozambique                        886
Namibia                           754
Tanzania                          746
Chad                              732
Ghana                             671
Niger                             660
Rwanda                            633
Republic of Congo                 473
Mauritania                        467
Malawi                            434
Eritrea                           408
Togo                              258
Guinea-Bissau                     233
Gabon                             215
Swaziland                         198
Gambia                            190
Benin                             187
Lesotho                           118
Djibouti                          112
Botswana                           53
Equatorial Guinea                  46
Mozambique                          1
Name: count, dtype: int64

In [21]:
# Summary statistics for numerical columns
df.describe()

,event_date,fatalities,geo_precision,gwno,inter1,inter2,interaction,time_precision,year
count,165808,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000
mean,2011-03-26 18:33:14.711955968,4.420257,1.261061,538.296964,3.385500,3.193603,32.001604,1.138751,2010.760898
min,1997-01-01 00:00:00,0.000000,1.000000,404.000000,1.000000,0.000000,10.000000,1.000000,1997.000000
25%,2007-10-22 00:00:00,0.000000,1.000000,490.000000,1.000000,0.000000,15.000000,1.000000,2007.000000
50%,2013-08-03 00:00:00,0.000000,1.000000,520.000000,3.000000,2.000000,28.000000,1.000000,2013.000000
75%,2016-01-06 00:00:00,1.000000,1.000000,615.000000,5.000000,7.000000,47.000000,1.000000,2016.000000
max,2017-07-29 00:00:00,25000.000000,3.000000,651.000000,8.000000,8.000000,88.000000,3.000000,2017.000000
std,NaN,76.071441,0.524248,61.974200,2.033114,2.920635,18.284381,0.441038,5.897476

In [23]:
print(df.columns)

Index(['actor1', 'actor2', 'admin1', 'admin2', 'country', 'event_date',
       'event_id_cnty', 'event_type', 'fatalities', 'geo_precision', 'gwno',
       'inter1', 'inter2', 'interaction', 'latitude', 'location', 'longitude',
       'notes', 'source', 'time_precision', 'year'],
      dtype='object')

In [24]:
df.columns = df.columns.str.upper()  # Convert all column names to uppercase
#I had to convertr all column names to upper because the code bellow was showing an error, and that was because it is case sensitive.

In [25]:
# Count unique values for categorical columns
categorical_columns = ['EVENT_TYPE', 'COUNTRY', 'ADMIN1', 'ACTOR1', 'ACTOR2']
for col in categorical_columns:
    print(f"{col}: {df[col].nunique()} unique values")

EVENT_TYPE: 14 unique values
COUNTRY: 50 unique values
ADMIN1: 735 unique values
ACTOR1: 3288 unique values
ACTOR2: 2828 unique values