In [1]:
import pandas as pd

In [8]:
file_path = "../data/raw/african_conflicts.csv"

In [17]:
df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")
#To load the file, I had to modify the pd.read by setting an specific encoding, this is because if not, and 'UnicodeDecodeError' happens due to Pandas was trying to read the file with 
#utf-8  encodiung, but because the file contains special characters that are encoded differntely.

/var/folders/gg/y7njvgln6bd7wj2ygfmd_r580000gn/T/ipykernel_58675/67583881.py:1: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/african_conflicts.csv", encoding="ISO-8859-1")

In [18]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165808 entries, 0 to 165807
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ACTOR1            165808 non-null  object
 1   ACTOR1_ID         140747 non-null  float64
 2   ACTOR2            122255 non-null  object
 3   ACTOR2_ID         140747 non-null  float64
 4   ACTOR_DYAD_ID     140747 non-null  object
 5   ADMIN1            165808 non-null  object
 6   ADMIN2            165676 non-null  object
 7   ADMIN3            86933 non-null   object
 8   ALLY_ACTOR_1      28144 non-null   object
 9   ALLY_ACTOR_2      19651 non-null   object
 10  COUNTRY           165808 non-null  object
 11  EVENT_DATE        165808 non-null  object
 12  EVENT_ID_CNTY     165808 non-null  object
 13  EVENT_ID_NO_CNTY  140747 non-null  float64
 14  EVENT_TYPE        165808 non-null  object
 15  FATALITIES        165808 non-null  int64
 16  GEO_PRECISION     165808 non-null  int64
 17  GWNO              165808 non-null  int64
 18  INTER1            165808 non-null  int64
 19  INTER2            165808 non-null  int64
 20  INTERACTION       165808 non-null  int64
 21  LATITUDE          165808 non-null  object
 22  LOCATION          165805 non-null  object
 23  LONGITUDE         165808 non-null  object
 24  NOTES             155581 non-null  object
 25  SOURCE            165635 non-null  object
 26  TIME_PRECISION    165808 non-null  int64
 27  YEAR              165808 non-null  int64
dtypes: float64(3), int64(8), object(17)
memory usage: 35.4+ MB
None

,ACTOR1,ACTOR1_ID,ACTOR2,ACTOR2_ID,ACTOR_DYAD_ID,ADMIN1,ADMIN2,ADMIN3,ALLY_ACTOR_1,ALLY_ACTOR_2,...,INTER1,INTER2,INTERACTION,LATITUDE,LOCATION,LONGITUDE,NOTES,SOURCE,TIME_PRECISION,YEAR
0,Police Forces of Algeria (1999-),NaN,Civilians (Algeria),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,NaN,Berber Ethnic Group (Algeria),...,1,7,17,36.61954,Beni Douala,4.08282,A Berber student was shot while in police cust...,Associated Press Online,1,2001
1,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Tizi Ouzou,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.71183,Tizi Ouzou,4.04591,Riots were reported in numerous villages in Ka...,Kabylie report,1,2001
2,Protesters (Algeria),NaN,NaN,NaN,NaN,Bejaia,Amizour,NaN,Students (Algeria),NaN,...,6,0,60,36.64022,Amizour,4.90131,Students protested in the Amizour area. At lea...,Crisis Group,1,2001
3,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Bejaia,Amizour,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.64022,Amizour,4.90131,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001
4,Rioters (Algeria),NaN,Police Forces of Algeria (1999-),NaN,NaN,Tizi Ouzou,Beni-Douala,NaN,Berber Ethnic Group (Algeria),NaN,...,5,1,15,36.61954,Beni Douala,4.08282,"Rioters threw molotov cocktails, rocks and bur...",Kabylie report,1,2001

In [19]:
df.info()  # Check column names, data types, and missing values
df.head()  # Display the first few rows
df.describe()  # Summary statistics for numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165808 entries, 0 to 165807
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ACTOR1            165808 non-null  object
 1   ACTOR1_ID         140747 non-null  float64
 2   ACTOR2            122255 non-null  object
 3   ACTOR2_ID         140747 non-null  float64
 4   ACTOR_DYAD_ID     140747 non-null  object
 5   ADMIN1            165808 non-null  object
 6   ADMIN2            165676 non-null  object
 7   ADMIN3            86933 non-null   object
 8   ALLY_ACTOR_1      28144 non-null   object
 9   ALLY_ACTOR_2      19651 non-null   object
 10  COUNTRY           165808 non-null  object
 11  EVENT_DATE        165808 non-null  object
 12  EVENT_ID_CNTY     165808 non-null  object
 13  EVENT_ID_NO_CNTY  140747 non-null  float64
 14  EVENT_TYPE        165808 non-null  object
 15  FATALITIES        165808 non-null  int64
 16  GEO_PRECISION     165808 non-null  int64
 17  GWNO              165808 non-null  int64
 18  INTER1            165808 non-null  int64
 19  INTER2            165808 non-null  int64
 20  INTERACTION       165808 non-null  int64
 21  LATITUDE          165808 non-null  object
 22  LOCATION          165805 non-null  object
 23  LONGITUDE         165808 non-null  object
 24  NOTES             155581 non-null  object
 25  SOURCE            165635 non-null  object
 26  TIME_PRECISION    165808 non-null  int64
 27  YEAR              165808 non-null  int64
dtypes: float64(3), int64(8), object(17)
memory usage: 35.4+ MB

,ACTOR1_ID,ACTOR2_ID,EVENT_ID_NO_CNTY,FATALITIES,GEO_PRECISION,GWNO,INTER1,INTER2,INTERACTION,TIME_PRECISION,YEAR
count,140747.000000,140747.000000,140747.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000,165808.000000
mean,2587.796692,1211.638820,70374.000000,4.420257,1.261061,538.296964,3.385500,3.193603,32.001604,1.138751,2010.760898
std,1030.065824,1242.978894,40630.303506,76.071441,0.524248,61.974200,2.033114,2.920635,18.284381,0.441038,5.897476
min,1.000000,0.000000,1.000000,0.000000,1.000000,404.000000,1.000000,0.000000,10.000000,1.000000,1997.000000
25%,2081.000000,0.000000,35187.500000,0.000000,1.000000,490.000000,1.000000,0.000000,15.000000,1.000000,2007.000000
50%,3043.000000,675.000000,70374.000000,0.000000,1.000000,520.000000,3.000000,2.000000,28.000000,1.000000,2013.000000
75%,3288.000000,2229.000000,105560.500000,1.000000,1.000000,615.000000,5.000000,7.000000,47.000000,1.000000,2016.000000
max,3960.000000,3960.000000,140747.000000,25000.000000,3.000000,651.000000,8.000000,8.000000,88.000000,3.000000,2017.000000

In [36]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])  # Show only columns with missing values

ACTOR1_ID           25061
ACTOR2              43553
ACTOR2_ID           25061
ACTOR_DYAD_ID       25061
ADMIN2                132
ADMIN3              78875
EVENT_ID_NO_CNTY    25061
LOCATION                3
NOTES               10227
SOURCE                173
dtype: int64

In [45]:
#checking column names
print(df.columns)
#this is to check for spaces in the columns

Index(['ACTOR1', 'ACTOR1_ID', 'ACTOR2', 'ACTOR2_ID', 'ACTOR_DYAD_ID', 'ADMIN1',
       'ADMIN2', 'COUNTRY', 'EVENT_DATE', 'EVENT_ID_CNTY', 'EVENT_ID_NO_CNTY',
       'EVENT_TYPE', 'FATALITIES', 'GEO_PRECISION', 'GWNO', 'INTER1', 'INTER2',
       'INTERACTION', 'LATITUDE', 'LOCATION', 'LONGITUDE', 'NOTES', 'SOURCE',
       'TIME_PRECISION', 'YEAR'],
      dtype='object')

In [39]:
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces

In [42]:
#Drop existing values 
df.drop(columns=['ALLY_ACTOR_1', 'ALLY_ACTOR_2', 'ADMIN3'], inplace=True, errors='ignore')
#Use errors='ignore' to prevent the KeyError:

In [47]:
#Making sure column exists before dropping 
columns_to_drop = ['ALLY_ACTOR_1', 'ALLY_ACTOR_2', 'ADMIN3']
existing_columns = [col for col in columns_to_drop if col in df.columns]
df.drop(columns=existing_columns, inplace=True)

In [44]:
print(df.isnull().sum())  # Ensure missing data is handled properly

ACTOR1                  0
ACTOR1_ID           25061
ACTOR2              43553
ACTOR2_ID           25061
ACTOR_DYAD_ID       25061
ADMIN1                  0
ADMIN2                132
COUNTRY                 0
EVENT_DATE              0
EVENT_ID_CNTY           0
EVENT_ID_NO_CNTY    25061
EVENT_TYPE              0
FATALITIES              0
GEO_PRECISION           0
GWNO                    0
INTER1                  0
INTER2                  0
INTERACTION             0
LATITUDE                0
LOCATION                3
LONGITUDE               0
NOTES               10227
SOURCE                173
TIME_PRECISION          0
YEAR                    0
dtype: int64